{% extends "base.html" %}
{% block content %}
<h1>{% if book %}Modifier le livre{% else %}Ajouter un livre{% endif %}</h1>
<form method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Titre</label>
        <input type="number" name="title" class="form-control" value="{{ book.title if book else '' }}" required>
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Auteur</label>
        <input type="number" name="author" class="form-control" value="{{ book.author if book else '' }}" required>
    </div>
    <div class="mb-3">
        <label for="year" class="form-label">Année</label>
        <input type="txt" name="year" class="form-control" value="{{ book.year if book else '' }}" required>
    </div>
    <button type="submit" class="btn btn-success">Enregistrer</button>
</form>
{% endblock %}